
.ytd-context {
  height: 35px;
  background: black;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  .year,
  .refreshed {
    position: absolute;
  }
  .refreshed {
    opacity: 0.5;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 500;
  }
  .year {
    width: 67px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 1.5rem;
    z-index: 3;
    line-height: 1;
  }
  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
  }
  &:before {
    left: 33px;
    bottom: -5px;
    z-index: 1;
    transform: rotate(45deg) translateX(-50%);
    width: 10px;
    height: 10px;
    background: white;
    box-shadow: 0 0 0 3px black;   
  }
  &:after {
    bottom: 2px;
    width: 67px;
    height: 23px;
    background: black;
    z-index: 2;
  }
  
}

.athlete-record {
  margin-bottom: 33px;
  &:last-of-type {
    margin-bottom: 0;
  }
  header {
    position: relative;
    width: 100%;
    margin-bottom: 18px;
    .avatar {
      width: 67px;
      height: 67px;
      overflow: hidden;
      border-radius: 100%;
      box-shadow: 0 0 0 2px black, 0 0 0 3px white;
    }
  }
  .primary-activity {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 80px);
    height: 100%;
    text-align: right;
    mark {
      display: block;
      position: relative;
      line-height: 1;
      top: 50%;
      transform: translateY(-43%);
    }
    span:before {
      content: "";
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      left: -48px;
      top: 50%;
      transform: translateY(-63%);
      background: image-url("../images/icons/bike.svg") no-repeat center bottom;
      background-size: contain;
    }
    span {
      font-size: 3.4375rem;
      font-weight: 300;
      position: relative;
    }
    i {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1;
      position: absolute;
      right: -16px;
      top: 7px;
    }

    &[data-activity-type="Ride"] span:before                { background-image: url("/public/images/icons/bike.svg"); }
    &[data-activity-type="Run"] span:before                 { background-image: url("/public/images/icons/run.svg"); }
    &[data-activity-type="Swim"] span:before                { background-image: url("/public/images/icons/swim.svg"); }
    &[data-activity-type="Hike"] span:before                { background-image: url("/public/images/icons/hike.svg"); }
    &[data-activity-type="AlpineSki"] span:before           { background-image: url("/public/images/icons/alpine-ski.svg"); }
    &[data-activity-type="Snowboard"] span:before           { background-image: url("/public/images/icons/snowboard.svg"); }
    &[data-activity-type="Crossfit"] span:before            { background-image: url("/public/images/icons/crossfit.svg"); }
    &[data-activity-type="StandUpPaddling"] span:before     { background-image: url("/public/images/icons/paddle.svg"); }
    &[data-activity-type="IceSkate"] span:before            { background-image: url("/public/images/icons/ice-skate.svg"); }
    &[data-activity-type="WeightTraining"] span:before      { background-image: url("/public/images/icons/weight-training.svg"); }

  }
  .all-activities {
    box-shadow: inset 0 0 0 1px white;
    width: 100%;
    margin-left: -5.5%;
    padding: 13px 5.5% 4px;
    background: black;
    li {
      display: block;
      width: 20%;
      float: left;
      margin-bottom: 7px;
      opacity: 1;
    }
    li[data-count="0"] {
      opacity: 0.35;
    }
    li:nth-of-type(6) {
      clear: both;
    }
    b,
    mark {
      display: block;
    }
    b {
      width: 30px;
      height: 30px;
      margin: 0 auto 4px;
      background: url("/public/images/icons/bike.svg") no-repeat center bottom;
      background-size: contain;
    }
    mark {
      text-align: center;
      font-size: 1.25rem;
      line-height: 1;
      width: 100%;
    }

    .bike b             { background-image: url("/public/images/icons/bike.svg"); }
    .run b              { background-image: url("/public/images/icons/run.svg"); }
    .swim b             { background-image: url("/public/images/icons/swim.svg"); }
    .alpine-ski b       { background-image: url("/public/images/icons/alpine-ski.svg"); }
    .crossfit b         { background-image: url("/public/images/icons/crossfit.svg"); }
    .snowboard b        { background-image: url("/public/images/icons/snowboard.svg"); }
    .ice-skate b        { background-image: url("/public/images/icons/ice-skate.svg"); }
    .paddle b           { background-image: url("/public/images/icons/paddle.svg"); }
    .weight-training b  { background-image: url("/public/images/icons/weight-training.svg"); }
    .hike b             { background-image: url("/public/images/icons/hike.svg"); }
  }
}


