/*
================================================================
CLEAR
================================================================ */
.clear:before,
.clear:after       { content: " "; /* 1 */ display: table; /* 2 */ }
.clear:after       { clear: both; }



/*
================================================================
BOUND
================================================================ */
.bound {
  width: 81.4814814814815%;
  max-width: 880px;
  margin: 0 auto;
}

